{% extends '::base.html.twig' %}


{% block body %}
    <div class="description">
        <h1>ApiGatorBundle</h1> ofrece un servicio de cliente genérico para APIs REST <br>
        Usando el cliente más <h2><a href="http://php.net/manual/es/book.curl.php">C00RL</a></h2>


        <div class="enlaces">
            <ul>
                <li>
                    <a href="https://github.com/Passhico/ApigatorBundle">Abrir en YITJAP</a>
                </li>
                <li>
                    <a href="{{ path('pcc_apigator_test_open_weather_map') }}">Test a :  api.openweathermap.org</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock body %}


{% block stylesheets %}
    <style>
        div.description {
            background-color: black;
            color: darkgreen;
            margin: 20px 0 20px 0;
            padding: 20px;
        }
        h1 {
            color: magenta;
        }
        h2 {
            color:darkmagenta;
            font-size: smaller;
        }
        a {
            align-self: center;
           background-color: darkgoldenrod;
            color: black;
            border: black;
        }
        body {
            background-color: dimgrey;
        }
        div.enlaces {
            align-self: center;
        }

    </style>
{% endblock stylesheets %}