{% extends "::base.html.twig" %}
{% block title %}
        Curso Symfony Raúl Fraile , dependency Injection & services.
{% endblock title %}

{% block body %}
    <li class="salida_api"> La temperatura de {{ ciudad }} ahora mismo es {{ temperatura }} </li>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-color: dimgrey;
        }
        li.salida_api {
            background-color: black;
            color: #6b9311;
        }
    </style>

{% endblock %}