{% extends '::base.html.twig' %}

{% block body %}
    <li class="temperatura"> Los datos obtenidos  de {{ ciudad }} son:  es ahora mismo de {{ dump(meassures) }}</li>
{% endblock %}

{% block stylesheets %}
    <style>
        li.temperatura {
            background-color: black;
            color: green;
        }
    </style>
{% endblock %}

